*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html{
    overflow-x: hidden;
}

/* NAVBAR*/

.navbar{
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    display: flex;
    justify-content: space-between;
    padding: 50px;
    color: whitesmoke;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: #009688;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.7s;
}

.navbar ul li:hover::after{
    width: 100%;
}

.logo{
    width: 120px;
    cursor: pointer;
}

.menu-btn{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 40px;
    display: none;
}

/* MOBILE DEVICE */

@media only screen and (max-width:850px) {
    .menu-btn {
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background-color: #49497e;
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .nav-links li{
        margin: 30px auto;
    }

    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
}

/* HEADER */

header{
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../bilder/background.jpeg);
    background-position: bottom;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-content{
    margin-bottom: 150px;
    color: whitesmoke;
    text-align: center;
}
.header-content h2{
    font-size: 5vmin;
}
.line{
    width: 150px;
    height: 4px;
    background: darkblue;
    margin: 10px auto;
    border-radius: 5px;
}

/* FOOTER */

.footer{
    width: 99%;
    position: absolute;
    padding: 50px;
    color: whitesmoke;
    background-color: rgb(13, 13, 57);
    text-align: center;
}

.footer h1{
    color: whitesmoke;
}

.footer a{
    color: whitesmoke;
}


/* EVENTS */

section {
    width: 80%;
    margin: 80px auto;
    color: #49497e;
}

.title{
    text-align: center;
    font-size: 4vmin;
}


/* WIR */

h4 {
    font-size: 3vmin;
    color: #49497e;
    margin: 20px auto;
}

p {
    color: #49497e;
}

.rowLeit {
    display: flex;
    align-items: center;
    padding-left: 17%;
    justify-content: space-between;
    margin-bottom: 40px;
}

.colLeit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 300px;
}

.colLeit img{
    align-items: center;
    border-radius: 50px;
    height: 30vmin;
    width: 30vmin;
}

.rowMit {
    display: flex;
    align-items: center;
    padding-left: 0%;
    justify-content: space-between;
    background: transparent;
    margin-bottom: 20px;
}

.colMit {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.colMit img{
    align-items: center;
    border-radius: 50px;
    height: 30vmin;
    width: 30vmin;
}

/* AUFGABEN */

.aufgaben img{
    float: left;
    border: 3px solid #fff;
    border-radius: 10px;
    max-width: 420px;
    margin-right: 15px;
} 

.aufgaben h1{
    font-size: 5vmin;
    text-align: center;
}

/* REFERENZEN */

.referenzen {
    margin-top: 100px;
}
